<footer class="pt-4 py-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">Company@ 2022-2023</small>
    </div>
    <div class="col-lg-6">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <a href="javascript:void(0)" class="link-secondary text-decoration-none">About</a>
          <a href="javascript:void(0)" class="link-secondary text-decoration-none">Contact</a>
          <a href="javascript:void(0)" class="link-secondary text-decoration-none">Mission</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <a href="javascript:void(0)" class="link-secondary text-decoration-none">Blog</a>
          <a href="javascript:void(0)" class="link-secondary text-decoration-none">Gallery</a>
          <a href="javascript:void(0)" class="link-secondary text-decoration-none">Map</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
